* {
  font-family: sans-serif;
}

body {
  background-color: #232527;
  color: white;
}

header {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #191b1d;
  border: solid #111214;
  border-width: 0 0 1px;
  align-items: center;
}

header .menu__Cima {
  display: flex;
  justify-content: space-between;
}

.menu__Cima-Esquerda {
  display: flex;
  align-items: center;
  color: white;
  gap: 50px;
}

.menu__Cima-Esquerda i {
  color: white;
  font-size: 25px;

  cursor: pointer;
}

.menu__Cima-Esquerda i:hover {
  background-color: #232527;
  border-radius: 5px;
}

.menu_Cima-Icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoRobux {
  background-image: url(https://images.rbxcdn.com/3a9b44283e65ae1ead90defcb0bdcb6e-economy_28x28_dark.svg);
  width: 28px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  border-color: hsla(0, 0%, 100%, 0.7);
  color: hsla(0, 0%, 100%, 0.7);
  border-radius: 8px;
  cursor: pointer;
}

.rbx_logo {
  width: 40px;
  cursor: pointer;
}

ul {
  display: flex;
  gap: 25px;
  flex-wrap: nowrap;
}

#pesquisa {
  border: none;
  border-radius: 5px;
  outline: 1px solid white;
  background-color: #131414;
}

.menu__Cima_Direita {
  display: flex;
  gap: 15px;
  overflow: hidden;
  align-items: center;
}
.bi-gear {
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.div_User {
  background-color: aliceblue;
  width: 30px;
  height: 80%;
  border-radius: 50%;
}

#icon_User {
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}

.classIdade {
  font-size: 10px;
  color: gray;
}

.robux {
  display: flex;
  align-items: center;
  gap: 2px;
}

main {
  width: 100%;
  height: 3502px;
}

@media (max-width: 900px) {
  .div_User {
    display: none;
  }

  #icon_User {
    display: none;
  }
  .menu_Cima-Baixo {
    display: none;
  }
}
